%article
  %h1= @article.title
  %small= "Last edited: #{time_ago_in_words @article.created_at} ago"
  %br
  %br
  %p= @article.content

%br
.btn-group
  = link_to "Article List", root_path, class: 'btn btn-default'
  = link_to "Edit", edit_article_path, class: 'btn btn-default'
  = link_to "Destroy", article_path, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-default'